version: "3.9"
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 12345
      POSTGRES_DB: gestor_documental
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
  app:
    build: .
    environment:
      DATABASE_URL: postgresql://postgres:12345@db:5432/gestor_documental
      SECRET_KEY: change-me
      APP_ENV: docker
    depends_on:
      - db
    ports:
      - "8000:8000"
volumes:
  db_data:
