# Framework
fastapi
uvicorn[standard]

# Base de datos y ORM
sqlalchemy
psycopg2-binary
alembic
python-docx 


# Validación y utilidades
pydantic
python-decouple
python-multipart
lxml
jsonschema
aiofiles
python-dotenv
requests

# Archivos PDF y Excel
PyPDF2
openpyxl

# Detección tipo de archivo
python-magic-bin  # en Windows se usa python-magic-bin

# Seguridad / Hashing
passlib[bcrypt]
python-jose  # para JWT
bcrypt

# Plantillas HTML
jinja2

# Testing
pytest
httpx  # para tests de FastAPI
